body{
  width:210px;
  height:297px;
  background-color:red;
}
.vinyeta{
  height:90mm;
  width:57mm;
  position: absolute;
  background-size: cover;
}
#primera{
  left:17mm;
  top:11mm;
  height:90mm;
  width:57mm;
  background-color: green;
  background-image: url(../img/Watch1.png);
}

#segona{
  left:77mm;
  top:11mm;
  background-color: black;
  background-image: url(../img/Watch2.png);
}

#tercera{
  left:137mm;
  top:11mm;
  height:90mm;
  width:57mm;
  background-color: yellow;
  background-image: url(../img/Watch3.png);
}

#quarta{
  left:17mm;
  top:103mm;
  height:90mm;
  width:57mm;
  background-color: pink;
  background-image: url(../img/Watch4.png);
}

#cinquena{
  left:77mm;
  top:103mm;
  height:90mm;
  width:57mm;
  background-color: white;
  background-image: url(../img/Watch5.png);
}

#sisena{
  left:137mm;
  top:103mm;
  height:90mm;
  width:57mm;
  background-color:yellow;
  background-image: url(../img/Watch6.png);
}
#septima{
  left:17mm;
  top:197mm;
  height:90mm;
  width:57mm;
  background-color: green;
  background-image: url(../img/Watch7.png);
}

#vuitena{
  left:77mm;
  top:197mm;
  height:90mm;
  width:57mm;
  background-color: brown;
  background-image: url(../img/Watch8.png);
}

#novena{
left:137mm;
top:197mm;
height:90mm;
width:57mm;
background-color: white;
background-image: url(../img/Watch9.png);
}
