div{
  width:175px;
  height:260px;
  margin:20px;
  border-radius:5px;
  background-color:black;
  font-family:Helvetica, Sans-serif;
  float:left;

}

.encabezamiento{
  height:50px;
  width:1000px;
  opacity:50%;
  margin:5px
  color:black;
}

img{
  margin-left:20px;
  margin-right:20px;
  margin-top:5px;
  margin-bottom:5px;
}

h3{
  font-size: 22px;
  color:#FFF;

}
h2{
  font-size: 14px;
  color:#CCC;
}

h1{
  font-size: 11px;
  color:#CCC;
}
