
div{
  height:40px;
  margin:13.3px;
  overflow:visible;
}

.cap .peu{
  width:1200px;
  clear:both;
  text-align: center;
  height: 200px;
}
.esquerra .dreta{
  width:200px;
  float: left;
}
.centre{
  width:72px;
  float:left;
}

.contenedor{
  width:1200px;
  background-color:pink;
}
