

.cap{
  margin:auto;
  width:400px;
  height:500px;
  background:#BB7F3C;
  border-radius: 400px 400px 600px 600px;
}




.cabell{
  width: 400px;
  height: 100px;
  background-image:linear-gradient(#FFA200,#FF0000,#C500FF);
  border-radius:30%;
  margin-top:40px;

}


.un{
  height:174px;
  width:174px;
  background:#4D2B02;
  border-radius:100%;
  margin-left:-80px;
}

.dos{
  height:170px;
  width:170px;
  background:#3C2100;
  border-radius:100%;
  margin-left:-20px;
  box-shadow: 5px 10px 30px #000000;
}


.pruebaa{
 width: 100px;
 height: 100px;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 -moz-box-shadow: 30px 10px 0 #3C2100;
 -webkit-box-shadow: 30px 10px 0 #3C2100;
 box-shadow: 30px 10px 0 #4D2B02;
  margin:auto;
  margin-left:40px;
}

.si{
  width: 110px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: 30px 10px 0 #4D2B02;
   margin:auto;
   margin-left: 20px;

}

.puede{
 width: 150px;
 height: 150px;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 -moz-box-shadow: 30px 10px 0 #3C2100;
 -webkit-box-shadow: 30px 10px 0 #3C2100;
 box-shadow: -30px -10px 0 #4D2B02;
  margin:auto;
  margin-left:40px;
  margin-top: -30px;
}
.tres{
  height:200px;
  width:200px;
  background:#4D2B02;
  border-radius:100%;
  margin-top:-40px;
  margin-left:-160px;
}

.quatre{
  height:200px;
  width:200px;
  background:#3C2100;
  border-radius:100%;
  margin-top:-50px;
  margin-left:-10px;
  box-shadow: inset 5px 10px 30px #000000;

}

.prueba{
 width: 150px;
 height: 150px;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 -moz-box-shadow: 30px 10px 0 #3C2100;
 -webkit-box-shadow: 30px 10px 0 #3C2100;
 box-shadow: -30px -10px 0  #4D2B02;
  margin:auto;
  margin-left:40px;
}


.clara{
width: 100px;
height: 100px;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
-moz-box-shadow: 30px 10px 0 #3C2100;
-webkit-box-shadow: 30px 10px 0 #3C2100;
box-shadow: 30px 10px 0 #4D2B02;
 margin:auto;
 margin-left:40px;
 margin-top:-60px;
}
.clar{
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: 30px 10px 0 #492800;
   margin:auto;
   margin-left:20px;
   margin-top:-93px;
   transform:rotate(-20deg);
  }

.cinc{
  height:230px;
  width:230px;
  background:#4D2B02;
  border-radius:100%;
  margin-top:-20px;
  margin-left:-140px;
  box-shadow: 0 10px 30px #000000;

}
.sis{
  height:230px;
  width:230px;
  background:#3C2100;
  border-radius:100%;
  margin-top:-30px;
  margin-left:-20px;
  box-shadow: inset 5px 10px 50px #000000;
}
.puc{
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: -30px -10px 0 #4D2B02;
   margin:auto;
   margin-left:40px;
}
.vull{
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: 30px 10px 0 #4D2B02;
   margin:auto;
   margin-left:50px;
   margin-top:-90px;
}

.sense{
  width: 190px;
  height: 190px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: -30px -10px 0 #4D2B02;
   margin:auto;
   margin-left:20px;
   margin-top:-170px;
}


.set{
  height:190px;
  width:190px;
  background-image: linear-gradient(#3C2100, #7E4501);
  border-radius:100%;
  margin-top:-70px;
  margin-left:-10px;
}

.jo{
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: 30px 10px 0 #4D2B02 ;
  margin:auto;
  margin-left:10px;
}

.ja{
  width: 130px;
  height: 130px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: -30px -10px 0 #4D2B02;
  margin:auto;
  margin-left:30px;
}


.wn{
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: -30px -10px 0 #4D2B02;
  margin:auto;
  margin-left:20px;
  margin-top:-50px;
  transform:rotate(-10deg);
}



.co{
  width: 190px;
  height: 190px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: -30px -10px 0 #4D2B02;
   margin:auto;
   margin-left:20px;
   margin-top:-170px;
}

.vuit{
  height:150px;
  width:150px;
  background:#3C2100;
  border-radius:100%;
  margin-left:-95px;
  box-shadow: inset 5px 10px 50px #000000;
}
.ko{
  width: 175px;
  height: 175px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: -30px -10px 0 #4D2B02;
  margin:auto;
  margin-left:30px;
}
.ke{
  width: 120px;
  height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: 30px 10px 0 #4D2B02;
  margin:auto;
  margin-left:-75px;
  margin-top:-130px;
}

.ka{
  width: 90px;
  height: 90px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
  box-shadow: 10px 10px 0 #4D2B02;
  margin:auto;
  margin-left:50px;
  margin-top:-170px;
}

.uno{
  height:174px;
  width:174px;
  background:#4D2B02;
  border-radius:100%;
  margin-left:310px;
  margin-top:-640px;
}

.do{
  height:170px;
  width:170px;
  background:#3C2100;
  border-radius:100%;
  margin-left:20px;
  margin-top:-640px;
  box-shadow: -6px 10px 30px #000000;
}

.muu{
 width: 100px;
 height: 100px;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 -moz-box-shadow: 30px 10px 0 #3C2100;
 -webkit-box-shadow: 30px 10px 0 #3C2100;
 box-shadow: -30px -10px 0 #4D2B02;
  margin:auto;
  margin-left:20px;
}

.bi{
   width: 120px;
   height: 120px;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   -moz-box-shadow: 30px 10px 0 #3C2100;
   -webkit-box-shadow: 30px 10px 0 #3C2100;
    box-shadow: -30px -10px 0 #4D2B02;
    margin:auto;
    margin-left:-10px;
    margin-top:-100px;
}

.ba{
   width: 120px;
   height: 120px;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   -moz-box-shadow: 30px 10px 0 #3C2100;
   -webkit-box-shadow: 30px 10px 0 #3C2100;
    box-shadow: 30px 10px 0 #4D2B02;
    margin:auto;
    margin-left:-10px;
    margin-top:-100px;
}

.trees{
  height:200px;
  width:200px;
  background:#4D2B02;
  border-radius:100%;
  margin-top: -50px;
  margin-left: 370px;
  box-shadow: 0 10px 30px #000000;
}
.cuatro{
  height:200px;
  width:200px;
  background:#3C2100;
  border-radius:100%;
  margin-top: -50px;
  margin-left: 15px;
  box-shadow: inset 0 10px 30px #000000;
}

.bo{
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
   box-shadow: 30px 10px 0 #4D2B02;
   margin:auto;
   margin-left:-10px;
   transform:rotate(-57deg);
}

.ro{
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
   box-shadow: -30px -10px 0 #4D2B02;
   margin:auto;
   margin-left:-20px;
   margin-top:-50px;
}
.cinco{
  height:240px;
  width:240px;
  background:#4D2B02;
  border-radius:100%;
  margin-top: 20px;
  margin-left: 320px;
  box-shadow: 0 10px 30px #000000;
}
.seis{
  height:230px;
  width:230px;
  background:#3C2100;
  border-radius:100%;
  margin-top: -60px;
  margin-left: 20px;
  box-shadow: inset 0 10px 30px #000000;
}

.xi{
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
   box-shadow: 30px 10px 0 #4D2B02;
   margin:auto;
   margin-left:20px;
}

.xin{
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
   box-shadow: 30px 10px 0 #4D2B02;
   margin:auto;
   margin-left:118px;
   margin-top:-50px;
}

.xa{
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
   box-shadow: -30px -10px 0 #4D2B02;
   margin:auto;
   margin-left:0px;
   margin-top:-50px;
}

.wo{
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
   box-shadow: -30px -10px 0 #4D2B02;
   margin:auto;
   margin-left:10px;
   margin-top:-180px;
}
.siete{
  height:190px;
  width:190px;
  background-image: linear-gradient(#3C2100, #7E4501);
  border-radius:100%;
  margin-top:-70px;
  margin-left:250px;
}
.ocho{
  height:150px;
  width:150px;
  border-radius:100%;
  margin-left:100px;
  background:#3C2100;
  box-shadow: inset 0 10px 30px #000000;
}

.we{
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
   box-shadow: 30px 10px 0 #4D2B02;
   margin:auto;
   margin-left:30px;
}

.wu{
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #3C2100;
  -webkit-box-shadow: 30px 10px 0 #3C2100;
   box-shadow: -30px -10px 0 #4D2B02;
   margin:auto;
   margin-left:70px;
   margin-top:-70px;
}


.front {
  height: 90px;
  margin-top:-10px;

}

.cellas {
  height:40px;
  padding: 0;
}

.ca{
  width:120px;
  height:30px;
  float:left;
  background:#3C2100;
  margin-left:30px;
  border-radius:80% 0% 30% 0%;
}

.linea{
  width:20px;
  height:20px;
  background:yellow;
}

.nas{
    height:85px;
    width:30%;
    margin:auto;
}
.recte{
    width: 30px;
    height:40px;
    background:#A96E2E;
    margin: auto;
    border-radius:10%;

}
.na{
    padding: 0px;
    width: 60px;
    height:30px;
    background-image:linear-gradient(#AB6F2E, #814D15);
    border-radius:30%;
    margin: auto;
    margin-top:-10px;

}
.lunar{
    height:85px;
    width:20%;
    float:right;
    margin-right:60px;
    margin-top:-85px;
}

.punt{
  width:8px;
  height:8px;
  background:black;
  border-radius:100%;
  margin: auto;
  margin-top:30px;
}
.boca{
  height:80px;
  width:108px;
  padding: 0;
  margin: auto;
}
.sup{
  width:59px;
  height:59px;
  background-image:linear-gradient(#FF0000,#FFA200);
  border-radius:40px;
  margin-left:5px;
  display: inline-block;

}

.supe{
  width:59px;
  height:59px;
  background-image:linear-gradient(#FF0000,#FFA200);
  border-radius:40px;
  margin-left:35px;
  display: inline-block;
}
.s{
  width:12px;
  height:8px;
  background:white;
  border-radius:100%;
  margin-top:-10px;
  margin-left:20px;
}
.inf{
  width:92px;
  height:42px;
  background-image:linear-gradient(#FFA200,#FF0000,#C500FF);
  border-radius:50%;
  border-style: solid;
  border:#FFA200;
  margin-left:-34px;
  margin-top:20px;
  display: inline-block;
}

.ce{
  width:120px;
  height:30px;
  background:#3C2100;
  float:right;
  margin-right:30px;
  border-radius:0% 80% 0% 30%;
}

.ulls {
  height: 60px;
  padding: 0;
}

.esquerra, .dreta{
  margin: 0;
  width: 50%;
  float: left;
}


.blanc{
  margin-left:10px;
  width:100px;
  height:60px;
  background:white;
  border-radius:0% 100% 0% 120%;
  transform: rotate(-25deg);
  display: inline-block;
}


.bla {
  border-radius:100% 0% 120% 0%;
  right:40px;
  width:100px;
  height:60px;
  background:white;
  transform: rotate(25deg);
}


.iris{
  width: 45px;
  height:45px;
  display:inline-block;
  border-radius: 50%;
  background-image:radial-gradient(#3C2100, #000000 100%);
  margin-right:40px;
  margin-left:26px;
  margin-top:6px;
}

.pupila{
  width: 20px;
  height:20px;
  background:black;
  box-shadow:10px;
  border-radius:20px;
  margin: auto;
  margin-top:15px;

}

.pestana{
  width:110px;
  height:40px;
  margin-right:40px;
  margin-left:40px;
  background:#3C2100;
  border-radius:100%;
  display: inline-block;
}

.hi{
  width:60px;
  height:60px;
  margin-top:-60px;
  margin-left:80px;
}

.ho{
  width:60px;
  height:60px;
  margin-top:-60px;
  margin-left:260px;
}

.yo{
  background-image:radial-gradient(#FF4040, red);
  width:50px;
  height:50px;
  border-radius:100%;
  margin: auto;
  box-shadow:0 0 20px red;
}

.ya{
  background-image:radial-gradient(#FF4040, red);
  width:50px;
  height:50px;
  border-radius:100%;
  margin: auto;
  box-shadow:0 0 20px red;
}



.cora{
  width:60px;
  height:60px;
}

.circulo{
  width:30px;
  height:30px;
  border-radius:100%;
  background-color:pink;

}

.circuloo{
  width:30px;
  height:30px;
  border-radius:100%;
  float:right;
  margin-top:-30px;
  background-color:pink;
}

.rombo{
  width:27px;
  height:27px;
  transform: rotate(-45deg);
  background-color:pink;
  margin:auto;
  margin-top:-12px;

}



.rata{
  width:60px;
  height:60px;
}

.rataa{
  width:30px;
  height:30px;
  border-radius:100%;
  background-color:pink;

}
.rataaa{
  width:30px;
  height:30px;
  border-radius:100%;
  float:right;
  margin-top:-30px;
  background-color:pink;
}

.rataaaa{
  width:27px;
  height:27px;
  transform: rotate(-45deg);
  background-color:pink;
  margin:auto;
  margin-top:-12px;

}







.pato{
  width:60px;
  height:60px;
}

.patoo{
  width:30px;
  height:30px;
  border-radius:100%;
  background-color:pink;

}
.patooo{
  width:30px;
  height:30px;
  border-radius:100%;
  float:right;
  margin-top:-30px;
  background-color:pink;
}

.patoooo{
  width:27px;
  height:27px;
  transform: rotate(-45deg);
  background-color:pink;
  margin:auto;
  margin-top:-12px;

}






.cabra{
  width:60px;
  height:60px;
}

.cabraa{
  width:30px;
  height:30px;
  border-radius:100%;
  background-color:pink;

}
.cabraaa{
  width:30px;
  height:30px;
  border-radius:100%;
  float:right;
  margin-top:-30px;
  background-color:pink;
}

.cabraaaa{
  width:27px;
  height:27px;
  transform: rotate(-45deg);
  background-color:pink;
  margin:auto;
  margin-top:-12px;

}



.pata{
  width:60px;
  height:60px;
}

.pataa{
  width:30px;
  height:30px;
  border-radius:100%;
  background-color:pink;

}
.pataaa{
  width:30px;
  height:30px;
  border-radius:100%;
  float:right;
  margin-top:-30px;
  background-color:pink;
}

.pataaaa{
  width:27px;
  height:27px;
  transform: rotate(-45deg);
  background-color:pink;
  margin:auto;
  margin-top:-12px;

}





.casa{
  width:60px;
  height:60px;
}

.casaa{
  width:30px;
  height:30px;
  border-radius:100%;
  background-color:pink;

}
.casaaa{
  width:30px;
  height:30px;
  border-radius:100%;
  float:right;
  margin-top:-30px;
  background-color:pink;
}

.casaaaa{
  width:27px;
  height:27px;
  transform: rotate(-45deg);
  background-color:pink;
  margin:auto;
  margin-top:-12px;

}
